.top-area {
    position: relative;
    z-index: 9999;
}

@media (min-width: 1024px){}

.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li > a {color:#6a708e;}
.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li > a:hover,.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li > a:focus,.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav > li.active>a{color: #d92cf9;}

.menu-ui-design{overflow-y:scroll;height: 350px;}
.menu-ui-design::-webkit-scrollbar {
    width:5px;
}
.menu-ui-design::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #000;
}
.menu-ui-design::-webkit-scrollbar-thumb {
  background-color: #d92cf9;
}

.fix {
    position: relative;clear: both;
}

.navbar {
    padding-top: 2rem;
}

.navbar .svelte-1wikuy2 {
    position: relative;
}

.navbar .svelte-1wikuy2 div {
    position: fixed;
}

.welcome-hero{
    font-family: "Calibri", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    background:url(../images/about/welcome-banner.jpg)no-repeat;
    background-size:cover;
    background-position: center;
    height:450px;
}

.welcome-hero:before{
    position:absolute;
    content: " ";
    top:0;
    left:0;
    /* background:#f9fbfd; */
    width:100%;
    height:100%;
}

.header-text h2 {
    color: #3c4258;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.5;
}

.header-text h2 span {
    color: #3c4258;
}

.header-text p {
    color: #3c4258;
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0 60px;
    letter-spacing: 1px;
}

.header-text a:hover{ 
    box-shadow: 0 5px 20px rgba(0,0,0,.4);background:#9f00ff;border: 1px solid #9f00ff;
}

.about {
    padding: 50px 0 100px;
}

.about-content {
    padding-top: 100px;
}

.single-about-txt h3 {
    font-size:18px;
    color: #3c4258;
    text-transform: initial;
    line-height: 1.8;
}

.single-about-txt p {
    font-size: 16px;
    color: #999fb3;
    padding: 35px 0 43px;
    border-bottom: 1px solid #999fb3;
}

.single-about-add-info {
    margin: 35px 0;
}

.single-about-add-info h3 {
    color: #636a82;
    font-size: 16px;
    text-transform: capitalize;
}

.single-about-add-info p {font-weight:  300;border:  0;padding: 0;margin-top: 3px;}
.single-about-img{position: relative;box-shadow: 0 5px 20px rgba(14,25,80,.30);}
.single-about-img:before {
    position:  absolute;
    content: " ";
    top: 0;
    left:  0;
    width: 109%;
    height:  100%;
    background: rgba(31,44,108,.3);
}

.single-about-img img {
    max-width: 500px;
    height: 468px;
}

.about-list-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 109%;
    height: 90px;
    background: #1f2c6c;
}

.about-list-icon ul {
    display: flex;
}

.about-list-icon  ul li a {
    padding-right: 22px;
    cursor:pointer;
    color: #fff;
}

.about-list-icon ul li a {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 2px solid;
    margin-left: 20px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}

.about-list-icon ul li a i {
    margin-left: 6px;
}

.education {
    background:  #f9fbfd;
    padding-top:  50px;
}

.education-horizontal-timeline {
    padding: 80px 0;
}

.education-horizontal-timeline .col-sm-4 {padding:0 2px;}

.single-horizontal-timeline .experience-time h3{text-transform: capitalize;}
.single-horizontal-timeline .experience-time h3 span{text-transform:lowercase;}
.single-horizontal-timeline .timeline-content h5 {margin: 15px 0;}
.single-horizontal-timeline p {color: #999fb3;max-width: 335px;}
