body {
    font-size: 16px;
    color: #676a81;
    background: #fff;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

a,
a:hover,
a:active,
a:focus {
    display: inline-block;
    text-decoration: none;
    color: #6a708e;
    font-size: 16px;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #43485c;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

p {
    margin: 0;
    line-height: 1.8;
    color: #43485c;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

ul li {
    list-style: none;

}

select,
input,
textarea,
button {
    box-shadow: none;
    outline: 0 !important;
}

button {
    background: transparent;
    border: 0;
}

html,
body {
    height: 100%;
    position: relative;
}

[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s 0.3s ease;
    -moz-transition: opacity 0.3s 0.3s ease;
    -ms-transition: opacity 0.3s 0.3s ease;
    -o-transition: opacity 0.3s 0.3s ease;
    transition: opacity 0.3s 0.3s ease;
    opacity: 0;
}

.top-area {
    position: relative;
    z-index: 9999;
    padding-bottom: 65px;
}

@media (min-width: 1024px) {}

.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav>li>a {
    color: #6a708e;
}

.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav>li>a:hover,
.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav>li>a:focus,
.sticky-wrapper.is-sticky nav.navbar.bootsnav ul.nav>li.active>a {
    color: #d92cf9;
}

.menu-ui-design {
    overflow-y: scroll;
    height: 350px;
}

.menu-ui-design::-webkit-scrollbar {
    width: 5px;
}

.menu-ui-design::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px #000;
}

.menu-ui-design::-webkit-scrollbar-thumb {
    background-color: #d92cf9;
}

.fix {
    position: relative;
    clear: both;
}

.navbar {
    padding-top: 2rem;
}

.navbar .svelte-1wikuy2 {
    position: relative;
}

.navbar .svelte-1wikuy2 div {
    position: fixed;
}

.welcome-hero {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../images/about/welcome-banner.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
}

.welcome-hero p{
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.welcome-hero:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    /* background:#f9fbfd; */
    width: 100%;
    height: 100%;
}

.square {
    margin: auto;
    height: 120px;
    width: 600px;
    position: relative;
    margin-top: -100px;
}

.square #top-right {
    background: url('https://img.icons8.com/ios-filled/50/FFFFFF/sparkling--v1.png') no-repeat;
    height: 90px;
    width: 90px;
    padding: 10px;
    position: absolute;
    top: -20px;
    right: -60px;
}

.square #bottom-left {
    background: url('https://img.icons8.com/ios-filled/50/FFFFFF/sparkling--v1.png') no-repeat;
    height: 90px;
    width: 90px;
    padding: 10px;
    position: absolute;
    bottom: -50px;
    left: -10px;
}

.header-text h2 {
    color: #f9fbfd;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.5;
}

.header-text h2 span {
    color: #f9fbfd;
}

.header-text p {
    color: #f9fbfd;
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0 60px;
    letter-spacing: 1px;
}

.header-text a:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .4);
    background: #9f00ff;
    border: 1px solid #9f00ff;
}

.welcome-button {
    width: 200px;
    height: 60px;
    font-weight: 700;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 30px;
    margin: auto;
    cursor: pointer;
}

.about {
    padding: 100px 0 100px;
    background-color:#f9fbfd;
}

.about h2 {
    color: #2e3c35;
    text-align: center;
}

.about-content {
    padding-top: 100px;
}

.single-about-txt h6 {
    font-size: 18px;
    color: #2e3c35;
    text-align: justify;
}

.single-about-txt p {
    font-size: 15px;
    color: #2e3c35;
    padding: 35px 0 43px;
    text-align: justify;
}

.single-about-add-info {
    margin: 35px 0;
}

.single-about-add-info h3 {
    color: #2e3c35;
    font-size: 16px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.single-about-add-info p {
    font-weight: 300;
    border: 0;
    padding: 0;
    margin-top: 3px;
}

.single-about-img {
    position: relative;
    box-shadow: 0 5px 20px rgba(14, 25, 80, .30);
}

.single-about-img:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 109%;
    height: 100%;
    background: rgba(31, 44, 108, .3);
}

.single-about-img img {
    max-width: 500px;
    height: 468px;
}

.about-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 109%;
    height: 90px;
    background: #2e3c35;
}

.about-list-icon ul {
    display: flex;
}

/* .about-list-icon  ul li a {
    padding-right: 22px;
    cursor:pointer;
    color: #999fb3;
} */

.about-list-icon ul li a {
    cursor: pointer;
    color: #2e3c35;
    display: inline-block;
    border: 2px solid;
    margin-left: 20px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
}

.about-list-icon ul li a i {
    margin-left: 6px;
}

.myJourney {
    background: #f9fbfd;
    padding-top: 100px;
    padding-bottom: 200px;
}

.myJourney-horizontal-timeline {
    padding: 80px 0;
}

.myJourney-horizontal-timeline .col-sm-4 {
    padding: 0 2px;
}

.single-horizontal-timeline .experience-time h3 {
    text-transform: capitalize;
    margin-bottom: 20px;
}

.single-horizontal-timeline p {
    color: #999fb3;
    max-width: 335px;
}

/* .myJourney {
    padding: 5em 0; } */
    .myJourney .services {
        display: block;
        width: 100%;
        position: relative;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .myJourney .services:after {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        content: '';
        width: 100%;
        height: 1px;
        background: #e1e8ff;
        z-index: -1;
    }
    .myJourney .services:before {
        position: absolute;
        top: 45px;
        right: 0;
        content: '';
        z-index: 1;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 10px;
        border-color: transparent transparent transparent #e1e8ff;
    }
    .myJourney .firstline p {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .myJourney .services .icon {
        line-height: 1.3;
        position: relative;
        width: 100px;
        height: 100px;
        background: #2e3c35;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
    }
    .myJourney .services .icon span {
        font-size: 50px;
        color: #fff;
    }
    .myJourney .services.services-2:after,
    .ftco-services .services.services-2:before {
        opacity: 0;
    }
    .myJourney .services.services-2 .icon {
        line-height: 1.3;
        position: relative;
        width: 52px;
        height: 52px;
        background: transparent;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
    }
    .myJourney .services.services-2 .icon span {
        font-size: 50px;
        color: #0033c7;
    }
.hobbies {
    padding-top: 50px;
    padding-bottom: 75px;
    margin-top: 75px;
}

/* .cards.svelte-1eg3i2g {
    margin-top: var(--spacing-l)
}*/

/* .hs.svelte-1eg3i2g {
    top: 0;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
} 

@media (min-width: 768px) {
    .hs.svelte-1eg3i2g {
        top: 0
    }
}  */

.hobbies h6{
    color: #f9fbfd;
    font-family: 'Poppins', sans-serif;
}

/* .svelte-1ybcdb5{
    color: #f9fbfd;
    font-family: 'Poppins', sans-serif;
} */
 
.cards.svelte-131t5ir {
    margin-top: var(--spacing-l);
    padding: 0 calc(var(--24px) + 6px) calc(var(--64px))
}

@media (min-width: 768px) {
    .cards.svelte-131t5ir {
        padding: 0 calc(var(--24px) + 6px) calc(var(--64px) * 2)
    }
}

/* .cards-content {
    display: contents;
    --background: var(--color-#2e3c35);
    --color: var(--color-text-bold);
    --grid-column-start: 1;
    --grid-column-end: 16;
    --align: center
} */
.hobbies .experience-time h2{
    color: #f9fbfd;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.hobbies .experience-time p{
    color: #f9fbfd;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.hobbies .foto {
    position: relative; 
    height: 25px;
    margin-left: 100px;
    margin-right: 10px;
}

.hobbies .foto .single-portfolio-content img {
    border-radius: 10%;
}

.header-collect h2 {
    color: #f9fbfd;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    padding-left: 75px;
}

.header-collect p{
    color: #f9fbfd;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.ftco-animate {
    opacity: 0;
    visibility: hidden; }

    .carousel-item {
        position: relative;
        display: none;
        float: left;
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        transition: -webkit-transform 0.6s ease-in-out;
        -o-transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; }
        @media screen and (prefers-reduced-motion: reduce) {
          .carousel-item {
            -webkit-transition: none;
            -o-transition: none;
            transition: none; } 
          }  

          .myCollection {
            padding:  50px 0 100px;
            border:  1px solid #e5ebf2;
        }
        
        .foto {padding-top: 100px;}
        
        /* ---- .item ---- */
        .isotope:after {
            content: '';
            display: block;
            clear: both;
        }
        .isotope .item {
            position:relative;
            overflow:hidden;
            margin-bottom: 30px;
        }
        /*.item img*/
        .isotope .item img{
            width:100%;
            height:100%;
            -webkit-transition: .5s;
            -moz-transition: .5s;
            -ms-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
        }
        .isotope .item:hover  img{
            -webkit-transform:scale(1.5);
            -moz-transform:scale(1.5);
            -ms-transform:scale(1.5);
            -o-transform:scale(1.5);
            transform:scale(1.5);
        }/*.item img*/
        
        /*.isotope-overlay*/
        .isotope-overlay{
            position:absolute;
            height:100%;
            width:100%;
            background:#2e3c35;
            display:flex;
            align-items:center;
            text-transform: uppercase;
            justify-content:center;
            flex-direction:row;
            -webkit-transform:scale(0);
            -moz-transform:scale(0);
            -ms-transform:scale(0);
            -o-transform:scale(0);
            transform:scale(0);
            -webkit-transition: .5s;
            -moz-transition: .5s;
            -ms-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
        }
        .isotope-overlay a {
            display: inline-block;
            color: #fff;
            font-size: 14px;
            text-align: center;
        }
        .isotope .item:hover .isotope-overlay{
            -webkit-transform:scale(1);
            -moz-transform:scale(1);
            -ms-transform:scale(1);
            -o-transform:scale(1);
            transform:scale(1);
            top:0;
        }/*.isotope-overlay*/
  